<strong>Olá, {{ student_name }}</strong><br />
<p>Tivemos uma resposta sobre o problema: {{ description }}</p>
<p>Provider: {{ provider }}</p>
<p>Reposta: {{ answer }}</p>
<p>Caso tenha algum outro problema, solicite novamente.</p>
