<strong>Olá, {{ username }}</strong><br/>

<p>O aluno {{ student_name }} solicitou uma ajuda:</p><br/>
<p>{{ description }}</p><br/>
<p>Caso, possa ajuda-lo respondendo-o, clique no link abaixo:</p>
<a href="#">Click Aqui</a>
