<strong>Olá, {{ username }}</strong><br/>

<p>Você solicitou nossa ajuda com a seguinte descrição:</p>
<p>{{ description }}</p>
<p>Este e-mail é apenas informativo, logo estaremos respondendo sua pergunta.</p>
