<strong>Olá, {{ username }}</strong><br/>

<p>O aluno {{ student_name }} solicitou uma ajuda:</p>
<p>{{ description }}</p>
<p>Caso, possa ajuda-lo respondendo-o, <a href="#" target="_blank">clique aqui</a> no link.</p>
