<p>
  Bem vindo {{ student }}, nós estamos muito felizes por ter você fazendo
  parte de nossa academia, esperamos que a sua experiência seja melhor do que
  a nossa!
</p>

<div>
  <strong>Parabéns!</strong>
  <p>Não se esqueça que somos uma <b>família</b>, então pode contar conosco.</p>
</div>
